<div class="well sidebar" style="padding-right:0px;">
    <ul class="nav nav-list sidebar">
        <li class="nav-header header" ><a class="sidebar super" >Espace client</a></li>
        <li  class="nav-header sidebar sm-sub toggled" >
            <a class="sidebar sup" href="{{path('factures')}}"  class="sidebar sup" ><span class="glyphicon glyphicon-sort-by-alphabet" style="padding-bottom:14px;">&nbsp;</span>Mon compte<span class="caret push-D">&nbsp;</span></a>
            <ul style="display:none;">
                <li class="sm-sub ">
                    <a class="sidebar  " href="{{path('factures')}}">Mes commandes</a>
                </li >
                <li class="sm-sub ">
                    <a class="sidebar  " href="{{path('fos_user_profile_show')}}">Mes informations</a>
                </li >
                <li class="sm-sub ">
                    <a class="sidebar  " href="{{path('fos_user_profile_edit')}}">Modifier mes informations</a>
                </li>
                <li class="sm-sub ">
                    <a class="sidebar  " href="{{path('fos_user_change_password')}}">Changer mon mot de passe</a>
                </li>
            </ul>
        </li>
        <li class="nav-header sidebar ">
            <a class="sidebar sup" href="{{path('fos_user_security_logout')}}"><span class="glyphicon glyphicon-log-out" style="padding-bottom:14px;">&nbsp;</span>Déconnexion</a>
        </li>
    </ul>
    <div class="wedge10"> &nbsp; </div>  
</div>