{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
<h1>Modification du produit</h1>
<form action="{{path('adminProduits_update', { 'id': entity.id} ) }}"method="POST" {{form_enctype(edit_form) }}  >
	<div class="row form-group form-group-bordered">
        <label class="col-sm-2 control-label" for="input">{{ form_label(edit_form.nom) }} </label>
        <div class="col-sm-5">{{ form_widget(edit_form.nom, {'attr' : {'class':'form-control','placeholder':'Nom' } }) }} </div>
    </div>
    <div class="row form-group form-group-bordered">
        <label class="col-sm-2 control-label" for="input">{{
            form_label(edit_form.categorie) }}
        </label>
        <div class="col-sm-5">{{ form_widget(edit_form.categorie, {'attr' :
            {'class':'form-control','placeholder':'Catégorie' } }) }}
        </div>
    </div>
    <div class="row form-group form-group-bordered">
        <label class="col-sm-2 control-label" for="input">{{
            form_label(edit_form.image) }}</label>
        <div class="col-sm-8">{{ form_widget(edit_form.image, {'attr' :
            {'class':'form-group' }}) }}</div>
    </div>

    <div class="row form-group form-group-bordered">
        <label class="col-sm-2 control-label" for="input">{{
            form_label(edit_form.descripcourt, 'Courte description') }}</label>
        <div class="col-sm-8">{{ form_widget(edit_form.descripcourt, {'attr' :
            {'class':'form-control','placeholder':'Texte résumé' } }) }}</div>
    </div>
    <div class="row form-group form-group-bordered">
        <label class="col-sm-2 control-label" for="input">{{
            form_label(edit_form.description) }}</label>
        <div class="col-sm-8">{{ form_widget(edit_form.description, {'attr' :
            {'class':'form-control','placeholder':'Texte descriptif' } }) }} {{form_widget(edit_form.descripcourt) }}</div>
    </div>

    <div class="row form-group form-group-bordered">
        <label class="col-sm-2 control-label" for="input">{{
            form_label(edit_form.donneestech, 'Données techniques') }}</label>
        <div class="col-sm-8">{{ form_widget(edit_form.donneestech, {'attr' :
            {'class':'form-control','placeholder':'Précisions techniques' } }) }}</div>
    </div>

    <div class="row form-group form-group-bordered">
        <label class="col-sm-2 control-label" for="input">{{
            form_label(edit_form.prix) }}</label>
        <div class="col-sm-3" id="prixHT" onChange="prixTTC()">{{ form_widget(edit_form.prix, {'attr' :
            {'class':'form-control','placeholder':'Prix' } }) }}</div>
        <div class="col-sm-4" id="prixTTC" > <span></span></div>
    </div>

    <div class="row form-group form-group-bordered">
        <label class="col-sm-2 control-label" for="input">{{
            form_label(edit_form.poids) }}</label>
        <div class="col-sm-3">{{ form_widget(edit_form.poids, {'attr' :
            {'class':'form-control'} }) }}
        </div>
         <div class="col-sm-2">grammes</div>
    </div>

    <div class="row form-group form-group-bordered">
        <label class="col-sm-2 control-label" for="input">{{
            form_label(edit_form.taille) }}</label>
        <div class="col-sm-3">{{ form_widget(edit_form.taille, {'attr' :
            {'class':'form-control'} }) }}
        </div>
         <div class="col-sm-2">mm</div>
    </div>

    <div class="row form-group form-group-bordered">
        <label class="col-sm-2 control-label" for="input">{{
            form_label(edit_form.largeur) }}</label>
        <div class="col-sm-3">{{ form_widget(edit_form.largeur, {'attr' :
            {'class':'form-control'} }) }}
        </div>
         <div class="col-sm-2">mm</div>
    </div>

    <div class="row form-group form-group-bordered">
        <label class="col-sm-2 control-label" for="input">{{
            form_label(edit_form.epaiss) }}</label>
        <div class="col-sm-3">{{ form_widget(edit_form.epaiss, {'attr' :
            {'class':'form-control'} }) }}
            </div>
         <div class="col-sm-2">mm</div>
    </div>

    <div class="row form-group form-group-bordered">
        <label class="col-sm-2 control-label" for="input">{{
            form_label(edit_form.disponible) }}</label>
        <div class="col-sm-3">{{ form_widget(edit_form.disponible, {'attr' :
            {'class':'form-control' } }) }}</div>
    </div> 

    <div class="row form-group form-group-bordered">
        <label class="col-sm-2 control-label" for="input">{{
            form_label(edit_form.stockreel) }}</label>
        <div class="col-sm-3">{{ form_widget(edit_form.stockreel, {'attr' :
            {'class':'form-control' } }) }}</div>
    </div> 

    <div class="row form-group form-group-bordered">
        <label class="col-sm-2 control-label" for="input">{{
            form_label(edit_form.tva) }}</label>
        <div class="col-sm-5" id="tva">{{ form_widget(edit_form.tva) }}</div>
    </div> 

    <div class="row form-group form-group-bordered">
        <label class="col-sm-2 control-label" for="input">{{
            form_label(edit_form.popularite) }}</label>
        <div class="col-sm-3">{{ form_widget(edit_form.popularite, {'attr' :
            {'class':'form-control' } }) }}</div>
    </div> 

</form>

<div class="row" >
    <div class="col-sm-2">
        <a href="{{ path('adminProduits') }}">
            <button type="button" class="btn btn-greyish">Retour</button>           
        </a>
    </div>
    <div class="col-sm-3">        
        {{ form_widget(edit_form.submit )}}
    </div>
    <div class="col-sm-2">  
            {{ form(delete_form) }}   

    </div>
</div>
{% endblock %}
