{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
    <h1>Liste des produits</h1>

    <table class="table table-store records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>&nbsp;</th>
                <th>Nom</th>
                <th>Prix HT</th>
                <th>Prix TTC</th>
                <th>Disponible</th>
                <th>Stock réel</th>
                <th>Popularité</th>
                <th >Voir</th>
                <th >Modifier</th>
                <th >Avis</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('adminProduits_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td><img src="{{ entity.image.AssetPath|imagine_filter('imgProduitFormat0') }}" alt="image {{ entity.image.name }}" title="{{entity.image.name}}"  ></td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.prix }}</td>
                <td>{{ entity.prix|tva(entity.tva.multiplicate) |number_format(2)}}</td>
                <td>{{ entity.disponible }}</td>
                <td>{{ entity.stockreel }}</td>
                <td>{{ entity.popularite }}</td>
                <td>
                        <a href="{{ path('adminProduits_show', { 'id': entity.id }) }}" title="voir le produit"><i class="glyphicon glyphicon-eye-open"></i></a>
                </td>
                <td>
                        <a href="{{ path('adminProduits_edit', { 'id': entity.id }) }}" title="modifier le produit"><i class="glyphicon glyphicon-edit"></i></a>
                </td>
                <td>
                        <a href="{{ path('adminAvis_produit', { 'id': entity.id }) }}" title="lister les avis de ce produit"><i class="glyphicon glyphicon-expand"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <br/>
            <a href="{{ path('adminProduits_new') }}">
                <button type="button" class="btn btn-greyish">Créer un nouveau produit</button>
            </a>

    {% endblock %}
