{% extends "::layout/layout.html.twig" %}
 {% block titre %} {{produit.nom}} {% endblock %}
{% block body %}
<div class="container">	
	<div class="pull-right panier" >{% render(controller('EcomBundle:Panier:menu')) %}</div>    
    <div class="row" >
	   	<div class="col-md-2">
	        {% include '::modulesBase/nav.html.twig' %}   
	    </div>   
	    <div class="col-sm-10 thumbnail">
	    	<form action="{{path('ajoutpanier1',{'id': produit.id})  }}" method="get">
		        <div class="row ">
		        	<div class="col-md-6">
		        		<div class="row ">
		                <img src="{{ produit.image.AssetPath|imagine_filter('imgProduitFormat2') }}" alt="image {{  produit.image.name }} "  >
		            	</div>
		            	<div class="row ">
		            		{{ render(controller('EcomBundle:Produits:indexAvis',{'id': produit.id} ))}}
		            	</div>
		            </div>

		            <div class="col-md-6">   
		                <div class="caption">
		                    <h4>{{produit.nom}}</h4>
		                    <h5>{{produit.categorie.nom}}</h5>
		                    <p>{{produit.description}}</p>
		                    <h4>{{produit.prix|tva(produit.tva.multiplicate)  }} € <span class="smallf">TTC</span></h4>	
		                    <div class="wedge30"> &nbsp; </div>
		                    {% if panier[produit.id] is not defined %}  
					            <div class="row ">
					                <div class="col-md-4">Quantité :	                    	
		                    		</div>	
		                    		 
		                    		<input type="number" step="1" min="0" max="10" value="1" name="qte" class="col-md-2" />                  		                    
				                </div>

		                    <div class="wedge10"> &nbsp; </div>
		                    ( Disponible : {{produit.stockvirtuel}} )
		                    {% else %}
					            <div class="row ">
					                <div class="col-md-4">Déjà dans votre panier </div>	                  
				                </div>
		                    {% endif %}
		                    <div class="wedge40"> &nbsp; </div>
		                </div>
	                </div>
	            </div>
	            <div class="row ">
	                <div class="col-md-offset-2 col-md-4">
		                    <a  href="{{ path('produits') }}" class="btn btn-greyish">Retour</a>
		            </div>
		            {% if panier[produit.id] is not defined %}  
		                <div class="col-md-5">	            
			                    <button type="submit" class="btn btn-brownish" >Ajouter au panier</button>                   	
			                                   
			            </div>
			        {% else %}
		                <div class="col-md-5">	            
			                    <a href="{{path('panier') }}" class="btn btn-brownish" >Voir votre panier</a>                   	                
			            </div>		        	
		            {% endif %}
		        </div>
		    </form> 
	        <div class="wedge50"> &nbsp; </div>
	        <div id="show_addAvis" style="display:none">
	        {{ render(controller('EcomBundle:Produits:addAvis',{'id': produit.id} ))}}
	        </div>
        	{{ render(controller('EcomBundle:Produits:listeAvis',{'id': produit.id} ))}}
        	
        </div>
    <div class="wedge80"> &nbsp; </div>
    </div>
</div>
{% endblock %}