{% extends "::layout/layout.html.twig" %}
 {% block titre %} Pascalp Version Développement > Liste des produits disponibles {% endblock %}
{% block body %}
<div class="container ">
    <div class="pull-right panier" >{% render(controller('EcomBundle:Panier:menu')) %}</div>      
    <div class="row">
    	<div class="col-sm-2 navbar-default">
        {% include '::modulesBase/nav.html.twig' %}   
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% include 'UtilisateursBundle:Default:modulesUsed/utilisateursConnected.html.twig' %}  
        {% else %}
            {% include 'UtilisateursBundle:Default:modulesUsed/utilisateurs.html.twig' %}  
        {% endif %}
        
        </div>   

        <div class="col-sm-10 ">
            <div class="row">
                <div class="col-md-12">
                    {% if produits|length != 0 %}
                    <ul class=""  >
                        {% for produit in produits %}
                            <li class="col-md-4 col-sm-6 col-xs-12  thumbnail"  >
                                <div class="row ">
                                    <div class="col-md-5">
                                        <img src="{{ produit.image.AssetPath|imagine_filter('imgProduitFormat1') }}" alt="image {{ produit.image.name }}" title="{{produit.image.name}}"  >
                                    </div>
                                    <div class="col-md-7">   
                                        <div class="caption">
                                            <h4 style="min-height:40px">{{produit.nom}} </h4> {% if produit.taille != null %}<span class="smallf">taille {{produit.taille}} mm </span>{% endif %}
                                            <br/> {{produit.prix|tva(produit.tva.multiplicate) |number_format(2) }} € <span class="smallf">TTC</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-12 caption" style="margin-top:-20px;">    
                                        {{produit.descripcourt}}
                                    </div>
                                </div>                             
                                <div class="row ">
                                    <div class="col-md-5">                       
                                            <a class="btn btn-primary" href="{{ path('presentation', {'id': produit.id  })  }}">Plus d'infos</a>
                                    </div>
                                    <div class="col-md-7">   
                                        {% if (panier[produit.id] is not defined and produit.stockvirtuel > 0) %}                          
                                            <a class="btn btn-success" href="{{ path('ajoutpanier1',{'id':produit.id })  }}">Ajouter au panier</a>
                                        {% else %}
                                            {% if panier[produit.id] is defined  %}                          
                                                <span class="fontxs">Déjà dans le panier</span><a href="{{path('panier') }}" class="glyphicon glyphicon-eye-open btn-eye" title="voir le panier" ></a> 
                                            {% else %}
                                                <span class="fontxs">Article non disponible</span>
                                            {% endif %}                                            
                                        {% endif %}
                                    </div>
                                 
                                </div>
                            </li>
                       {% endfor %} 
                    </ul>
                    {% else %}
                        Aucun produit
                    {% endif %}
                </div>

                <!--<div class="col-md-12">-->
                    <div class="navigation" style="list-style: none;">
                    {{ knp_pagination_render(produits) }}
                    </div>
                <!--</div>-->
            </div>
        </div>
    </div>

</div>

{% endblock %}