<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>CGV</title>
        <link href="./css/style.css" rel="stylesheet" type="text/css" />
    </head>
<body>

<h3>CONDITIONS GÉNÉRALES DE VENTE</h3>
<p>
Merci de lire avec attention l'ensemble des informations ci-dessous. Elles ont pour objet de définir les droits et les obligations des parties dans le cadre de toute commande sur notre boutique en ligne.</p>

<hr/>
<h4>Généralités</h4>
<p>
L’envoi de la commande par le Client avec son règlement implique son adhésion à ces présentes Conditions Générales de Vente. Aucune disposition contraire sur les conditions d’achat, lettres, accusés de réception, e-mails ou autres documents émanant du Client ne saurait être opposée à l’entreprise {{vendeur.nomcomplet}} si elle n’a pas été préalablement expressément validée par cette dernière. Les présentations et photos ne sont pas contractuelles, l’entreprise {{vendeur.nomcomplet}} pouvant être amenée à les modifier à tout moment et sans préavis.</p>

<h4>Commandes</h4>
<p>
Une commande ne devient définitive qu’après validation de l’entreprise {{vendeur.nomcomplet}}. Dans le cas où la commande contiendrait des dispositions contraires aux Conditions Générales de Vente, le Client disposerait d’un délai de 24 heures à compter de la réception de la commande afin de contester les présentes par écrit.<br/>

Le client est responsable des mentions relatives au nom et à l'adresse du destinataire qui doivent être précises, exactes et complètes pour permettre une livraison dans de bonnes conditions.</p>
<p>
{{vendeur.nomcomplet}} ne pourra être tenu responsable d'un retour de livraison dû à une erreur d'adresse ou de non retrait du colis à la poste dans les 15 jours après un avis de passage à la poste ou au relais colis de son choix dans le délai imparti par ce dernier.<br/>

Le ré-acheminement du colis vers une nouvelle adresse sera facturé au client; il en va de même pour un colis non cherché à la poste dans les 15 jours suivant un premier passage ou à un relais colis dans le délai imparti par ce dernier.</p>

<br/>
<br/>
<br/>
<h4>Nos prix</h4>

<p>Les prix facturés au Client pour les produits sont des prix TTC et sont établis sur la base du Tarif de l’entreprise {{vendeur.nomcomplet}} en vigueur à la date de la commande. Les commandes de prestations particulières et de produits ne figurant pas sur le tarif de l’entreprise {{vendeur.nomcomplet}} seront facturées au prix stipulé sur la proposition commerciale.</p>
<h4>Droit de rétractation</h4>

<p>A l'exclusion des denrées périssables, tout client qui ne serait pas satisfait des produits commandés sur le site internet micronutris.com peut exercer son droit de rétractation dans un délai de 14 jours francs, à compter de la réception du bien commandé ou du service, tel que décrit dans l'article L.121-20 du code de la consommation.</p>
<h4>Livraisons</h4>

<p>Sous réserve de stipulation particulière, et à compter du jour de validation de la commande par l’entreprise {{vendeur.nomcomplet}} telle que définie à l’article 2 ci-dessus, les produits figurant au tarif de cette dernière seront livrés pour la France métropolitaine dans un délai de 2 à 10 jours. Nous expédions votre commande vers la France métropolitaine et vers l’étranger via le service Colissimo de La Poste et par UPS.</p>

<p>L’entreprise {{vendeur.nomcomplet}} s’efforce de vous les faire parvenir dans les meilleurs délais. Toute clause de pénalité de retard qui serait incluse par le Client dans sa commande demeure sans effet par application de l’article 1 des présentes Conditions Générales de Vente. Il appartient au destinataire de vérifier les expéditions à l’arrivée et de faire toutes réserves et réclamations qui apparaîtraient justifiées. Toute anomalie doit être signalée sur le récépissé.<br/>

Les dites réserves et réclamations doivent être adressées à {{vendeur.nomcomplet}}, par lettre recommandée avec accusé de réception dans les 48 heures suivant la réception des produits. Si les produits livrés ne sont pas conformes en nature ou en qualité aux spécifications indiquées sur la facture, le Client doit, à peine de déchéance, formuler ses réclamations dans les deux jours après la livraison. Les frais d'expédition ne sont pas inclus dans nos prix.<br/>

Les frais de port, variables suivant le type de commande (nature, poids et volume), seront indiqués sur le récapitulatif de la commande (facture), et seront à la charge du client. Conformément à l’article L121-20-2 du Code de la Consommation, la nature des produits que nous vendons ainsi que leur conditionnement nous exonère du droit de rétraction.</p>
<h4>Conditions de paiement</h4>

<p>Sauf stipulation particulière, les produits ainsi que les frais de port sont soit payés en une seule fois en ligne via le système de paiement bancaire sécurisé ou par l’envoi d’un chèque libellé à l’ordre de {{vendeur.nomcomplet}} à l’adresse ci-dessous :</p>

<p>{{vendeur.nomcomplet}}<br/>
{{vendeur.adresse1}}<br/>
{{vendeur.adresse2}}<br/>
{{vendeur.cp}} {{vendeur.ville}}</p>

<p>Le numéro de votre commande doit être inscrit au dos de votre chèque. Celui-ci est encaissé à réception et votre commande est traitée.</p>
<h4>Données</h4>

<p>Les données du Client peuvent être enregistrées dans les fichiers de l’entreprise {{vendeur.nomcomplet}} ; la loi peut accorder un droit d’accès, de rectification et d’opposition conformément à la CNIL (www.cnil.fr).</p>

<p>L’entreprise {{vendeur.nomcomplet}} s’engage à ne pas transmettre de données personnelles à des tiers (Numéro d'enregistrement à la CNIL : {{vendeur.numerocnil}}).</p>

<p>Le recueil des informations sert à l’envoi de la commande, à joindre les clients en cas de besoin d’informations complémentaires ou d’envoi d’informations et pour des activités relevant du marketing direct.</p>
<h4>Divers</h4>

<p>Les présentes Conditions Générales de Vente sont régies par le droit français.</p>
</body>
</html>