
<div class="col-md-4 col-md-push-8" >

  <table class="table table-spot" >
    <thead>
    <tr >
      <th class="bordVD-spot">Semaine<br/>- 2 </th>
      <th >Semaine<br/>- 1</th>
    </tr>
  </thead>
    <tr>
        <td class="bordVD-spot">{{ tabVisites[ 4 ] }}</td>
        <td >{{ tabVisites[ 5 ] }}</td>
    </tr>
  </table>
</div>

<div class="col-md-1 col-md-push-3" >&nbsp</div>

<div class="col-md-4 col-md-pull-2" >
  <table class="table table-spot" >
    <thead>
    <tr >
      <th class="bordVD-spot">4 semaines<br/>antérieures</th>
      <th >4 dernières<br/>semaines</th>
    </tr>
  </thead>
    <tr>
        <td class="bordVD-spot">{{ tabVisites[ 2 ] }}</td>
        <td >{{ tabVisites[ 3 ] }}</td>
    </tr>
  </table>
</div>

<div class="col-md-1 col-md-pull-7"  >&nbsp</div>

<div class="col-md-2 col-md-pull-10" >  
  <table class="table table-spot" >
    <thead>
    <tr >
      <th >Total<br/>visites</th>
    </tr>
  </thead>  
    <tr>      
        <td  >{{ tabVisites[ 1 ] }}</td>      
    </tr>
  
  </table>
</div>

