
    
<div class="well sidebar" style="padding-right:5px;">
	
    <ul class="nav nav-list">     
    	 {% if is_granted('ROLE_ADMIN') %} <li class="nav-header"><a href="{{path('adminCommandes') }}" class="sidebar super" >Administration <span style="font-size:1.1em">&nbsp; &#11166;</span></a></li> {% endif %}
    	<li class="nav-header " ><a class="sidebar super" >Produits</a></li>
    	<li class="nav-header "><a href="{{path('produits') }}" class="sidebar sup"> Trier par...</a></li>
		<li><a href="{{path('produits_tripar_nomAsc', {'tri' : 'nom_asc'}) }}" class="sidebar sub">Par nom de A à Z</a></li>
		<li><a href="{{path('produits_tripar_nom_desc', {'tri' : 'nom_desc'}) }}" class="sidebar sub">Par nom de Z à A</a></li>
		<li><a href="{{path('produits_tripar_pop_asc', {'tri' : 'pop_asc'}) }}" class="sidebar sub">Par popularité croissante</a></li>
		<li><a href="{{path('produits_tripar_pop_desc', {'tri' : 'pop_desc'}) }}" class="sidebar sub">Par popularité décroissante</a></li>
		<li><a href="{{path('produits_tripar_prix_asc', {'tri' : 'prix_asc'}) }}" class="sidebar sub">Par prix croissant</a></li>
		<li><a href="{{path('produits_tripar_prix_desc', {'tri' : 'prix_desc'}) }}" class="sidebar sub">Par prix décroissant</a></li>
	</ul>	
    <ul class="nav nav-list">
    	<div style="height:20px;">&nbsp;</div>
        <li class="nav-header"><a href="{{path('produits') }}" class="sidebar sup"> Nos produits par catégorie</a></li>
         {% render(controller('EcomBundle:Categories:menu')) %}
   
    </ul>	
	
</div>

