
<div class="well sidebar">
    <ul class="nav nav-list">
    	<!--<div style="height:100px;">&nbsp;</div>-->
        <li>
        	<a href="{{path('adminCommandes') }}"  class="sidebar sup">Commandes en cours</a>
            {% render(controller('AdBundle:CommandesAdmin:nbCmdes')) %}
        </li>
        <li class="nav-header">
            <a href="{{path('adminAvis') }}" class="sidebar sup" >Nouveaux avis à valider</a>
            {% render(controller('AdBundle:AvisAdmin:nbAvis')) %}
        </li>
        <hr class="hrb"/>
        <li class="nav-header">
            <a href="{{path('adminUtilisateurs') }}"  class="sidebar sup" >Liste des clients</a>
        </li>

        <li>
            <a href="{{path('adminCommandesArchives') }}"  class="sidebar sup" style="padding-right:0px">Commandes archivées</a>
        </li>   	    	

    </ul>
</div>

<div class="well sidebar">
    <ul class="nav nav-list">
        <!--<div style="height:100px;">&nbsp;</div>-->
       <li class="nav-header">
            <a href="{{path('adminProduits') }}" class="sidebar sup" >Produits</a>
        </li> 
       <li class="nav-header">
            <a href="{{path('adminPromoProds') }}" class="sidebar sup" >Promo sur produits</a>
        </li>
        <li>
            <a href="{{path('adminStocks_reassort') }}"  class="sidebar sup">Réassort/cadencier</a>
        </li> 
        <li>
            <a href="{{path('adminStocks_demarque') }}"  class="sidebar sup">Démarque</a>
        </li>  
        <li>
            <a href="{{path('adminStocks_inventr') }}"  class="sidebar sup">Inventaire</a>
        </li> 
        <li >
            <a href="{{path('adminAvis_valid') }}" class="sidebar sup" >Avis validés</a>
        </li>         
    </ul>
</div>
<div class="well sidebar">
    <ul class="nav nav-list">
        <!--<div style="height:100px;">&nbsp;</div>-->
        <li>
            <a href="{{path('adminArticle') }}" class="sidebar sup ">Articles</a>
        </li>
    </ul>
</div>
<div class="well sidebar">
    <ul class="nav nav-list">
    	<!--<div style="height:100px;">&nbsp;</div>-->
        <li>
            <a href="{{path('adminCategories') }}" class="sidebar sup ">Catégories de produits</a>
        </li>
        <li>
            <a href="{{path('adminFournisseurs') }}" class="sidebar sup ">Fournisseurs</a>
        </li>
        <li class="nav-header">
        	<a href="{{path('adminPages') }}" class="sidebar sup" >Pages du footer</a>
        </li>
        <li class="nav-header">
        	<a href="{{path('adminTarif') }}" class="sidebar sup" >Tarifs frais de port</a>
        </li>
    </ul>
</div>
