
<div class="well sidebar">
    <ul class="nav nav-list">
    	<!--<div style="height:100px;">&nbsp;</div>-->
        <li class="nav-header">
        	<a href="{{path('adminProduits') }}" class="sidebar sup" >Produits</a>
        </li>
    </ul>
</div>

<div class="well sidebar">
    <ul class="nav nav-list">
    	<!--<div style="height:100px;">&nbsp;</div>-->
        <li>
        	<a href="{{path('adminCommandes') }}"  class="sidebar sup">Commandes</a>
        </li>
        <br/>
        <li>
            <a href="{{path('adminCommandesArchives') }}"  class="sidebar ">Commandes archivées</a>
        </li>   	    	
        <li class="nav-header">
        	<a href="{{path('adminUtilisateurs') }}"  class="sidebar " >Clients</a>
        </li>

    </ul>
</div>

<div class="well sidebar">
    <ul class="nav nav-list">
    	<!--<div style="height:100px;">&nbsp;</div>-->
        <li>
            <a href="{{path('adminCategories') }}" class="sidebar ">Catégories produits</a>
        </li>
        <li class="nav-header">
        	<a href="{{path('adminPages') }}" class="sidebar " >pages</a>
        </li>
        <li class="nav-header">
        	<a href="{{path('adminTarif') }}" class="sidebar " >tarifs frais de port</a>
        </li>
    </ul>
</div>
