<div class="col-md-3">

	<div class="well">
	    <ul class="nav nav-list">
	    	<!--<div style="height:100px;">&nbsp;</div>-->
	        <li class="nav-header">
	        	<a href="{{path('adminProduits') }}" >Produits</a>
	        </li>
	        <li>
	        	<a href="{{path('adminCategories') }}" >Catégories produits</a>
	        </li>
	    </ul>
	</div>

	<div class="well">
	    <ul class="nav nav-list">
	    	<!--<div style="height:100px;">&nbsp;</div>-->
	        <li class="nav-header">
	        	<a href="{{path('adminUtilisateurs') }}" >Clients</a>
	        </li>
	        <li>
	        	<a href="{{path('adminCommandes') }}" >Commandes</a>
	        </li>
	    </ul>
	</div>

	<div class="well">
	    <ul class="nav nav-list">
	    	<!--<div style="height:100px;">&nbsp;</div>-->
	        <li class="nav-header">
	        	<a href="{{path('adminPages') }}" >pages</a>
	        </li>
	        <li class="nav-header">
	        	<a href="{{path('adminTarif') }}" >tarifs frais de port</a>
	        </li>
	    </ul>
	</div>
</div>