{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
    <h1>Démarque </h1>

        {{ form_start(form) }}
        <table class="table table-store records_list">
        <thead>
            <tr>
                <th colspan="2">&nbsp;</th>
                <th >&nbsp;</th>
                <th colspan="3" class="bordVGD">Démarque</th>  
            </tr>
            <tr>
                <th>Id</th>
                <th class="bordVD">Nom</th>
                <th class="bordVGD">Stock restant</th>
                <th class="bordVD">Casse</th>   
                <th class="bordVD">Défectueux</th>              
                <th class="bordVG">Autre</th>
            </tr>
        </thead>
        <tbody>

        {% for form in form.prdDemarque %}
            <tr>
                <td class="middle">{{form.id.vars.value}}</td>
                <td class="bordVD middle">{{ form.nom.vars.value }}</td>                  
                <td class="bordVGD middle"
                {% if form.stockvirtuel.vars.value == 0 %}style="color:orange"{% endif %}
                {% if form.stockvirtuel.vars.value < 0 %}style="color:red; font-style:italic;"{% endif %}
                >
                {% if form.stockvirtuel.vars.value <= 0 %}&#9888;&nbsp;{% endif %}
                {{ form.stockreel.vars.value }}</td>
                <td class="bordVD middle">{{form_widget(form.casse)}}</td> 
                <td class="bordVD middle">{{form_widget(form.defect)}}</td>                 
                <td class="bordVG middle">{{form_widget(form.autre) }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <div class='row' >
        <div class="col-xs-offset-5 col-xs-4">
        {{ form_widget(form.submit)}}
        </div>
    </div>
    <div style="visibility: hidden;">
        {{ form_end(form) }}
    </div>
        <br/>

{% endblock %}