{% block _dv_ecombundle_produits_image_widget %}
{% if prototype is defined %}
   {% set dataPrototype = block('image_prototype') %}
{% endif %}
		<div class="panel-body-heading">
			<!-- /pb-object -->
			<h3 class="pb-title">Images</h3>
			<!-- /pb-title -->
			<div class="pb-actions">
				<!-- Single button -->
				<div class="btn-group">
					<a role="button" class="btn btn-icon dropdown-toggle"
						data-toggle="dropdown"> <span class="icon ion-navicon"></span>
					</a>
					<ul class="dropdown-menu pull-right" role="menu">
						<li><a href="#" id="add_images" >Nouvelle image</a></li>
						<li class="divider"></li>
						<li><a href="#" id="del_images" >Supprimer image</a></li>
					</ul>
				</div>
			</div>
			<!-- /pb-actions -->
		</div>
		<!-- /panel-body-heading -->

		<!-- list group -->
		<ul class="list-group" id="dv_ecombundle_produits_image" data-prototype="{{ dataPrototype }}">
		
			{% for image in form %}
			<li class="list-group-item">
				<div  class="form-group">
					<div class="col-sm-1">
						<div class="checkbox"><input type="checkbox" /></div>
					</div>
					<div class="col-sm-8" >{{ form_widget(image.file) }}</div>
					
					<div class="col-sm-2  ">
					   <div class="label">{{ form_widget(image.name) }}</div>
					</div>
					
				</div>	
			</li>
			{% endfor %}			
			<!-- /list-group-item -->
		</ul>
		
		<!-- /list-group -->
	
	
{% endblock %}

{% block image_prototype %}
<li class="list-group-item">
			<div  class="form-group">
					<div class="col-sm-1">
						<div class="checkbox"><input type="checkbox" /></div>
					</div>
					<div class="col-sm-8" >{{ form_widget(prototype.file) }}</div>
					
					<div class="col-sm-2  ">
					   <div class="label">{{ form_widget(prototype.name) }}</div>
					</div>
					
			</div>	
</li>
{% endblock %}