<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block titre %}Pascalp e-commerce Version Développement{% endblock %}</title>
    <meta name="keywords" content="{% block motsCles %}{% endblock %}"/>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-theme.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/main.css')}}" />    
        <link rel="stylesheet" href="{{ asset('css/style.css')}}" />

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('LogoProGdev.ico') }}" />
</head>
<body class="body-admin-color">
    <div class="navbar navbar-inverse navbar-fixed-top"> 
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"  data-toggle="collapse" data-target="#example-navbar-collapse" >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{path('admin')}}"><img src="{{ asset('img/LogoProG8.PNG')}}" width="70px" title="LOGO!!!" alt="LOGO!!!" style="margin-top:-5px" >&#10159; ADMINISTRATION</a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{path('produits')}}">Retour vers client <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Page1</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Autres <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action 1</a></li>
                    <li><a href="#">Action 2</a></li>
                    <li><a href="#">Action 3</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Action 4</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Action 5</a></li>
                  </ul>
                </li>

            </ul>
            
            <div class="pull-right modulelogin-conteneur"  >
                {% if is_granted('IS_AUTHENTICATED_FULLY') %} 
                    {% include 'UtilisateursBundle:Default:modulesUsed/utilisateursConnectedH.html.twig' %} 
                {% else %}
                    {% include 'UtilisateursBundle:Default:modulesUsed/utilisateursH.html.twig' %}  
                {% endif %} 
            </div> 
            
        </div>

    </div>
{% block layout %}
    <div class="container" style="margin-right:0; padding-right:0; margin-left:0; padding-left:0;">
                <button type="button" class="btn btn-default navbar-nontoggle" id="toggle2-sidebar" style="margin-left:-80px; margin-top:-10px;" >
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                </button>
        <div class="row" id="row-main" style="margin-top:-20px; ">
            <div class="col-md-2 " id="sidebar">  
                {% include '::modulesBase/navAdmin.html.twig' %}
            </div>
            <div class="col-md-12" id="content">
                {% block body %} {% endblock %}
            </div>
        </div>
        <hr class="hrb" />
        <footer id="footer" class="vspace20">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p>&copy; Copyright {{"now"|date('Y')}} - ProG-developpement IT</p>
                    </div>
                </div>
            </div>
        </footer>   
    </div>
{% endblock %}
<!--End page -->
{% block javascript2s %}
    <script src="{{ asset('js/plugin/jquery/jquery3.1.1.min.js')}}"></script>
    <script src="{{ asset('js/plugin/jquery-ui-1.12.1.custom/jquery-ui.js')}}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.js')}}"></script>   

<!-- script pour afficher ou non la sidebar menu -->
  <script>

$(document).ready(function() {
    /* Initialisation Administration/Produits/layout/edit.html.twig */
    var prixHT =  parseFloat($('#prixHT input').val());
    var re = /(\d*.?\d+) ?%/;       
    var tva = parseFloat(re.exec($('#tva input:checked + label').text()));
    var prixTTC = parseFloat(parseFloat(Math.round(prixHT*(1+tva/100)*100))/100).toFixed(2);
    $('#prixTTC span').text('=> TTC : '+prixTTC+' €');
});

    /* Modification du prixHT => recalcul prix TTC -  Administration/Produits/layout/edit.html.twig */
function prixTTC(){        
    var prixHT =  parseFloat($('#prixHT input').val());
    var re = /(\d*.?\d+) ?%/;       
    var tva = parseFloat(re.exec($('#tva input:checked + label').text()));
    var prixTTC = parseFloat(parseFloat(Math.round(prixHT*(1+tva/100)*100))/100).toFixed(2);
    $('#prixTTC span').text('=> TTC : '+prixTTC+' €');
} 

function sumStockInventr(){        
    var sumStock1=0, nbStock1=0;
    $('center.stockInv input').each(function(){
       sumStock1+=parseInt($(this).val());
       if(parseInt($(this).val())>0) {nbStock1++;}      
    });
    //alert('ici'+sumStock);
    $('span#nbStock1').text(nbStock1);
    $('span#sommeStocks1').text(sumStock1);
    nbStock0 = $('span#nbStock0').text();
    sumStock0 = $('span#sommeStocks0').text();

    $('#showboite0').css('display','block');
    if(nbStock0==0 || sumStock0==0 || nbStock1/nbStock0 < 0.9 || sumStock1/sumStock0 <0.6)
    { 
        $('.showboite1').each(function(){$('.showboite1').css('display','block');});
        $('.showboite2').each(function(){$('.showboite2').css('display','none');});
        $('.showboite3').each(function(){$('.showboite3').css('display','none');});  
        $('#enableInventr').attr('disabled','true');  
    }
    else
    {
        $('.showboite2').each(function(){$('.showboite2').css('display','block');});
        $('.showboite1').each(function(){$('.showboite1').css('display','none');}); 
        $('.showboite3').each(function(){$('.showboite3').css('display','none');});              
    }

} 

function confirmeInventr(){
    $('#showboite0').css('display','none');
    $('#validprov input').val('1');
    $('button#enableInventr').css('color','lime');  
    $('button#enableInventr').attr('disabled','false');  
    $('form[name="ad_adbundle_inventr"]').submit();
}

function StockDefInventr(){
    $('#showboite0').css('display','block');
    $('#validprov input').val('1');
    $('.showboite1').each(function(){$('.showboite1').css('display','none');});
    $('.showboite2').each(function(){$('.showboite2').css('display','none');}); 
    $('.showboite3').each(function(){$('.showboite3').css('display','block');});  
}


/* Apparition/disparition du menu sidebar dans app/.../layoutAdmin.html.twig */
    var toggle2=false;
 $("#toggle2-sidebar").click(function () {
    //alert('ici');
    toggle2=!toggle2;
    if(toggle2)
    {   
        $("#sidebar").toggleClass("show", 1000, "swing" );
        $("#content").removeClass("col-md-12").addClass("col-md-10"); 
    } 
    else
    {          
        $("#sidebar").toggleClass("show", 1000, "swing");
        $("#content").removeClass("col-md-10").addClass("col-md-12");
    }      
    return false;
  });

 function maFonction(){  alert('ici, id='+$(this).text()); return false; }

</script>

{% endblock %}
</body>
</html>