<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8" />
    <title>{% block titre %}Pascalp boutique e-commerce Version Développement{% endblock %}</title>
    <meta name="keywords" content="{% block motsCles %}{% endblock %}"/>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-theme.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/main.css')}}" />    
        <link rel="stylesheet" href="{{ asset('css/style.css')}}" />
        <link rel="stylesheet" href="{{ asset('js/plugin/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css')}}" />
        

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('LogoProGdev.ico') }}" />
</head>
<body class="body-color">

    <nav class="navbar navbar-inverse navbar-fixed-top"> 
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-navbar-collapse">
              <span class="sr-only ">Toggle navigation</span>
              <span class="icon-bar" ></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>               
                <a class="navbar-brand" href="{{path('accueil')}}"><img src="{{ asset('img/LogoProG8.PNG')}}" width="70px" title="LOGO!!!" alt="LOGO!!!" style="margin-top:-5px" ></a>
          </div>
          <div class="collapse navbar-collapse" id="example-navbar-collapse">
		      	<ul class="nav navbar-nav">
			        <li class="active"><a href="{{path('produits')}}">Boutique <span class="sr-only">(current)</span></a></li>
			        <li><a href="{{path('panier')}}">Panier</a></li>
              <li class="dropdown">
                <a href="{{path('site')}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Présentation du site<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{path('site')}}#clid">Côté Client</a></li>
                  <li><a href="{{path('site')}}#admid">Côté Administrateur</a></li>
                  <li><a href="{{path('site')}}#stock">La Gestion des Stocks</a></li>   
                </ul> 
              </li>               
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Autres <span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="#">Actualités</a></li>
			            <li><a href="#">FAQ</a></li>
			            <li><a href="#">Documentation</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="{{path('nous_contacter')}}">Nous contacter</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="{{path('cgv')}}" target="_blank">CGV</a></li>
			          </ul>
			        </li>
            </ul>      
          </div>  
          <div class="pull-right modulelogin-conteneur"  >
              {% if is_granted('IS_AUTHENTICATED_FULLY') %} 
                  {% include 'UtilisateursBundle:Default:modulesUsed/utilisateursConnectedH.html.twig' %} 
              {% else %}
                  {% include 'UtilisateursBundle:Default:modulesUsed/utilisateursH.html.twig' %}  
              {% endif %} 
          </div> 
          
        </div>
    </nav>

<!-- Contenu principal  -->   
{% block body %}{% endblock %}

<!--Footer-->
    <div class="wedge50"> &nbsp; </div>
    <hr class="hrb" />
{% block footer %}
        <footer id="footer" class="vspace20">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-1 col-md-4 ">
                        <h4>Informations</h4>
                        <ul class="nav nav-stacked">
                            {% render(controller('PagesBundle:Pages:menu')) %}
                        </ul>
                    </div> 

                    <div class="col-md-4">
                        <h4>Notre entrepôt</h4>
                        <p><i class="icon-map-marker"></i>&nbsp;{{adresse}}</p>
                    </div>

                    <div class="col-md-2">
                        <h4><a href="{{path('nous_contacter')}}">Nous contacter</a></h4>
                        <p><i class="icon-phone"></i>&nbsp;Tel: {{telephone}}</p>
                        <p><i class="icon-print"></i>&nbsp;Fax: - </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <p>&copy; Copyright {{"now"|date('Y')}} - ProG-developpement IT</p>
                    </div>
                </div>
            </div>
        </footer>   
{% endblock %}

<!--End page -->
{% block javascripts %}
<script src="{{ asset('js/plugin/jquery/jquery.min.js')}}"></script>
<script src="{{ asset('js/plugin/jquery-ui-1.12.1.custom/jquery-ui.js')}}"></script>
<script src="{{ asset('js/plugin/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js')}}"></script>
<script src="{{ asset('js/plugin/malihu-custom-scrollbar-plugin/jquery-mousewheel/jquery.mousewheel.min.js')}}"></script>
<script src="{{ asset('bootstrap/js/bootstrap.js')}}"></script>   
<script> 
    <!-- script pour afficher ou non la sidebar menu -->
 
$(document).ready(function () {
    var largeurFenetre = document.body.clientWidth;
  $(".largeurF").html(largeurFenetre);
        var toggle=false; var togglestars = true;

  $("#valider").prop("disabled", true); //validation
  $("#checkcgv").prop("checked", false);//validation

  $(".toggle-sidebar").click(function () {
        toggle=!toggle;
      if(toggle)
      {   
          $(".sidebar.fixe").toggleClass("show", 200, "swing" );
          if( $(this).parent().parent().attr("class")=="sidebar fixe inverse"  || $(this).parent().parent().attr("class")=="sidebar fixe inverse show"  ){
            // Cas page produit
          $("#content").removeClass("col-xs-offset-2 col-xs-10 show").addClass("col-xs-12 ");
          $(".sidebar.poignee > img").attr("src","{{ asset('./img/poigneeR.jpg')}}");              
          }
          else{
            if( /col-xs-12/.test($("#content").attr("class"))){ $("#content").removeClass("col-xs-12").addClass("col-xs-offset-2 col-xs-10");}
            // page presentation :
            if( /col-xs-offset-1 col-xs-11/.test($("#content").attr("class"))){$("#content").removeClass("col-xs-offset-1 col-xs-11").addClass("col-xs-offset-3 col-xs-9");}            
          $("#content").removeClass("non-show").addClass("show-bas");
          $(".barremenupanier").children().removeClass("col-xs-offset-1 col-xs-11").addClass("col-xs-offset-2 col-xs-10");
          $(".sidebar.poignee > img").attr("src","{{ asset('./img/poigneeL.jpg')}}");              
          }

      } 
      else
      {          
          $(".sidebar.fixe").toggleClass("show", 200, "swing");
          if( $(this).parent().parent().attr("class")=="sidebar fixe inverse" || $(this).parent().parent().attr("class")=="sidebar fixe inverse show"){
             // Cas page produit
          $("#content").removeClass("col-xs-12 ").addClass("col-xs-offset-2 col-xs-10 show"); 
          $(".sidebar.poignee > img").attr("src","{{ asset('./img/poigneeL.jpg')}}");              
          }   
          else{    
            if( /col-xs-offset-2 col-xs-10/.test($("#content").attr("class"))){ $("#content").removeClass("col-xs-offset-2 col-xs-10 " ).addClass("col-xs-12");}     
            // page presentation :
            if( /col-xs-offset-3 col-xs-9/.test($("#content").attr("class"))){$("#content").removeClass("col-xs-offset-3 col-xs-9").addClass("col-xs-offset-1 col-xs-11");}              
          $("#content").removeClass("show-bas").addClass("non-show");
          $(".barremenupanier").children().removeClass("col-xs-offset-2 col-xs-11").addClass("col-xs-offset-1 col-xs-10");
          $(".sidebar.poignee > img").attr("src","{{ asset('./img/poigneeR.jpg')}}");
          }
      }      
      return false;
  });

    /* Script détails menu du sidebar */
  $('body').on('click', '.sm-sub > a', function(e) {
      e.preventDefault();
      
      var s = $('.sidebar.fixe').css('width'); //This is to get the screen size. If it's 64px it's a mid screen size otherwise large/small screen.
      var x = $(this).closest('.sm-sub');
      
      if (s <= '600px' && s >= '160px') { //Only fire this on large/small screen.
          x.find('ul').slideToggle(200);
          x.toggleClass('toggled');
          
      }
  });

});

/* Script note avis */
var rate = 0;
function currentRating(rate){
        $("#stars").html(rate);
        $(".rate").val(rate);
    }

function testpromo(mavar){
alert('ici'+mavar);
}

/* Script pour l'effet loupe 1*/
$(function() {
    //alert('ici');
  var native_width = 0;
  var native_height = 0;
  var mouse = {x: 0, y: 0};
  var magnify;
  var cur_img;
  var ui = {
    magniflier: $('.image')
  };
  // On crée un div autour de l'image à grossir avec la loupe
  if (ui.magniflier.length) {
    var div = document.createElement('div');
    div.setAttribute('class', 'loupe');
    ui.loupe = $(div);
    $('body').append(div);
  }

  var mouseMove = function(e) {
    var $el = $(this);

    var magnify_offset = cur_img.offset();

    mouse.x = e.pageX - magnify_offset.left;
    mouse.y = e.pageY - magnify_offset.top;
   
    if (
      mouse.x < cur_img.width() &&
      mouse.y < cur_img.height() &&
      mouse.x > 0 &&
      mouse.y > 0
      ) {
      magnify(e);
    }
    else {
      ui.loupe.fadeOut(100);
    }
    return;
  };
  var magnify = function(e) {

    // Le background position de la loupe sera modifié en fonction de la position de la souris sur l'image '.magnifier'
    var rx = Math.round(mouse.x/cur_img.width()*native_width - ui.loupe.width()/2)*-1;
    var ry = Math.round(mouse.y/cur_img.height()*native_height - ui.loupe.height()/2)*-1;
    var bg_pos = rx + "px " + ry + "px";
   
    // Calcul de la position de la loupe
    // var loupe_left = mouse.x - ui.loupe.width() / 2;
    // var loupe_top  = mouse.y - ui.loupe.height() / 2;
    var loupe_left = e.pageX - ui.loupe.width() / 2;
    var loupe_top  = e.pageY - ui.loupe.height() / 2;
    //console.log(loupe_left, loupe_top, bg_pos)
    //Maintenant en survolant, la loupe apparait
    
    ui.loupe.css({
      left: loupe_left,
      top: loupe_top,
      backgroundPosition: bg_pos
    });
    return;
  };
  
  $('.image').on('mousemove', function() {
    ui.loupe.fadeIn(100);
   
    cur_img = $(this);
    var large_img_loaded = cur_img.data('large-img-loaded');
    var src = cur_img.data('large') || cur_img.attr('src');
    // Set large-img-loaded to true
    // cur_img.data('large-img-loaded', true)
    if (src) {
      ui.loupe.css({
        'background-image': 'url(' + src + ')',
        'background-repeat': 'no-repeat'
      });
    }
    // When the user hovers on the image, the script will first calculate the native dimensions if they don't exist. 
    // Only after the native dimensions are available, the script will show the zoomed version.
    //if(!native_width && !native_height) {
      if (!cur_img.data('native_width')) {
        // This will create a new image object with the same image as that in .small We cannot directly get the dimensions 
        // from .small because of the width specified to 200px in the html. To get the actual dimensions we have
        // created this image object.
        var image_object = new Image();
        image_object.onload = function() {
 
          native_width = image_object.width;
          native_height = image_object.height;
          cur_img.data('native_width', native_width);
          cur_img.data('native_height', native_height);
          //console.log(native_width, native_height);
          
          mouseMove.apply(this, arguments);
          ui.loupe.on('mousemove', mouseMove);
        };

        image_object.src = src;
       
        return;
      } else {
        native_width = cur_img.data('native_width');
        native_height = cur_img.data('native_height');
      }
    //}
    //console.log(native_width, native_height);
    mouseMove.apply(this, arguments);
    ui.loupe.on('mousemove', mouseMove);
  });
  ui.loupe.on('mouseout', function() {
    ui.loupe.off('mousemove', mouseMove);
  });
});

var i = 0; var togglestars = true;
function showStars(i){
  if(togglestars){
    //alert('ici'+i+';');
    $('#star-'+i+':hover').addClass('is-active'); 
    $('#star-'+i+':hover').parent().prevAll().children().addClass('is-active') ;
    $('#star-'+i+':hover').parent().nextAll().children().removeClass('is-active');
    currentRating(i);
  }
}


toggle1=true; 
function cgv() {  
    if(toggle1){
        $("#valider").prop("disabled", false); 
        $("#valider").removeClass("btn-info").addClass("btn-success");
        toggle1=!toggle1;
    }
    else {
        $("#valider").prop("disabled", true); 
        $("#valider").removeClass("btn-success").addClass("btn-info");
        toggle1=!toggle1;}
}
</script>

{% endblock %}
</body>
</html>
