{% extends "::layout/layout.html.twig" %}
{% block titre %} {{vendeur.urlbq}} > Paiement sécurisé... si, si ! {% endblock %}
{% block body %}
<div style="position:fixed;top:0px; left:0px; width:100%; height:2000px;; background:#222; z-index:1200;"></div>
<div style="position:fixed; z-index:1400; top:200px; left:20%; font-size:80px;color:#d55; font-weight:bold; transform: rotate(-45deg)">FACTICE</div>
<div class="container" style="position:absolute; top: 30px; left: 30px; height: 790px; border-radius:4px; background-color:#4ba;  z-index:1300;"  >
    <div class="row" style="background:#FFF;  color:#113; margin:15px;padding:15px;">
        <div class="col-xs-12" >
        	<h1>api BANQUE {{vendeur.Banque}} Opération sécurisée par {{vendeur.syssecur}}</h1>
            <h5>Compte créditeur : {{vendeur.comptebanc}} </h5><h5>Iban : {{vendeur.iban}} Bic : {{vendeur.bic}}</h5>

    	</div >
    </div>
    <div class="row" style="background:#FFF; color:#113;margin:15px;padding:15px;">
        <div class="col-xs-12" >
        	<h2>Opération :</h2>
    	</div >
        <div class="col-xs-4" >
        	<h5>Entreprise : {{vendeur.nomcomplet}}</h5>
    	</div >
        <div class="col-xs-4" >
        	<h5>Montant TTC : {{montant}} €</h5>
    	</div >
  	</div>
    <div class="row form-group" style="background:#FFF; color:#113; margin:15px;padding:15px; cursor: not-allowed;"><h3>Identification de votre Carte Bancaire :</h3>
    	<div class="horizontal-control">
    	<span class="h4">Le type de CB : &nbsp;</span>
    	<input type="radio" name="typcb" value="cb" id="cb" checked><label for="cb" style="margin-left:5px; margin-right:20px;"><img src=" {{asset('img/cb.jpg')}}" width="30px" ></label>
    	<input type="radio" name="typcb" value="master" id="master"><label for="master" style="margin-left:5px; margin-right:20px;"><img src=" {{asset('img/mastercard.png')}}" width="30px"></label>
    	<input type="radio" name="typcb" value="visa" id="visa"><label for="visa" style="margin-left:5px; margin-right:20px;"><img src=" {{asset('img/visa.png')}}" width="30px"></label>
    	</div>
        <div class="row">
             <div class="col-xs-offset-1 col-xs-2 "><label for="numcb">Votre numéro de CB :</label></div>
        	<div class=" col-xs-2 "><input type="text" name="numcb" id="numcb" placeholder=" . . . . . . . . . . ." style=" cursor: not-allowed;"></div>
        </div>
        <div class="row">
             <div class="col-xs-offset-1 col-xs-2 "><label for="expcb">Date d'expiration :</label></div>
        	<div class=" col-xs-2 "><input type="text" name="expcb" id="expcb" placeholder="  . . / . . . . " style=" cursor: not-allowed;"></div>
        </div>
        <div class="row">
        	<div class="col-xs-offset-1 col-xs-2 "><label for="confcb">Cryptogramme (code à 3 chiffres à l'arrière de la CB) :</label></div>
            <div class=" col-xs-2 "><input type="text" name="confcb" id="confcb" placeholder=" * * *" style=" cursor: not-allowed;"></div>
        </div>
    </div>
            <div class="wedge10">&nbsp;</div> 
          
        <div class="row" >    
          <div class="col-xs-offset-4 col-xs-4 ">
            <center> <br/>              
             <a  href="{{ path('validationCommande')}}"><button type="submit" class="btn btn-greyish" style="font-size:30px; padding:15px;"  title="Validation" >Validation</button>  </a>   <br/>          
            </center>
          </div>
        </div>  

</div>
{% endblock %}