{% extends "::layout/layout.html.twig" %}
{% block titre %} https://Banque machin > Paiement sécurisé... si, si ! {% endblock %}
{% block body %}
<div style="position:fixed; top:200px; left:25%; font-size:50px;color:#d55; font-weight:bold;">FACTICE</div>
<div class="container" style="background:#55F;">
    <div class="row" style="background:#FFF;  color:#113; margin:15px;padding:15px;">
        <div class="col-xs-12" >
        	<h1>api BANQUE</h1>

    	</div >
    </div>
    <div class="row" style="background:#FFF; color:#113;margin:15px;padding:15px;">
        <div class="col-xs-12" >
        	<h2>Opération :</h2>
    	</div >
        <div class="col-xs-4" >
        	<h5>Entreprise : {{vendeur.nomcomplet}}</h5>
    	</div >
        <div class="col-xs-4" >
        	<h5>Montant TTC : {{commande.commande.totalTTC}} €</h5>
    	</div >
  	</div>
    <div class="row form-group" style="background:#FFF; color:#113; margin:15px;padding:15px;"><h3>Identification de votre Carte Bancaire :</h3>
    	<div class="horizontal-control">
    	<span class="h4">Le type de CB : &nbsp;</span>
    	<input type="radio" name="typcb" value="cb" id="cb" checked><label for="cb" style="margin-left:5px; margin-right:20px;"><img src=" {{asset('img/cb.jpg')}}" width="30px" ></label>
    	<input type="radio" name="typcb" value="master" id="master"><label for="master" style="margin-left:5px; margin-right:20px;"><img src=" {{asset('img/mastercard.png')}}" width="30px"></label>
    	<input type="radio" name="typcb" value="visa" id="visa"><label for="visa" style="margin-left:5px; margin-right:20px;"><img src=" {{asset('img/visa.png')}}" width="30px"></label>
    	</div>
    	<label for="numcb">Votre numéro de CB</label><input type="text" name="numcb" id="numcb">
    	<label for="expcb">Date d'expiration</label><input type="text" name="expcb" id="expcb">
    	<label for="confcb">Confirmation (code à 3 chiffres à l'arrière de la CB)</label><input type="text" name="confcb" id="confcb">
    </div>
            <div class="wedge10">&nbsp;</div> 
          
        <div class="row" >    
          <div class="col-xs-offset-4 col-xs-4 "style="background:#FFF; color:#113;padding:15px;">
            <center> <br/>              
             <a  href="{{ path('validationCommande', {'id' : commande.id})}}"><button type="submit" class="btn btn-success"  title="Validation" >Validation</button>  </a>   <br/>          
            </center>
          </div>
        </div>  

</div>
{% endblock %}