{% extends "::layout/layout.html.twig" %}
{% block titre %} Pascalp Version Développement > Produits dans le panier {% endblock %}
{% set totalHT = 0 %}
{% set totalTTC = 0 %}
{% set refTva = {} %}
{% for produit in produits %}
    {# on crée un tableau qui va ajouter à la liste les taux de tva différents : #}
    {% set refTva = refTva|merge({ ('%' ~produit.tva.valeur) : 0 }) %}   
{% endfor %}
{% block body %}
<div class="container">
    <div class="row barremenupanier">
        <div class="col-xs-1">
            <button type="button" class="btn btn-default navbar-nontoggle toggle-sidebar">

                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
            </button>
        </div> 
        <div class="col-xs-11">{% render(controller('EcomBundle:Panier:menupanier')) %}
        </div>
    </div>
    <div class="wedge5"> &nbsp; </div>   
    <div class="row" id="row-main">
        <div class="col-xs-2 " id="sidebar">  
            {% include '::modulesBase/nav.html.twig' %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% include 'UtilisateursBundle:Default:modulesUsed/utilisateursConnected.html.twig' %}  
            {% else %}
                {% include 'UtilisateursBundle:Default:modulesUsed/utilisateurs.html.twig' %}  
            {% endif %}
        </div> 
        <div class="col-xs-12" id="content"> 
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">{{flashMessage}}</div>
            {% endfor %}
        	<h2>Votre panier</h2>
        		<table class="table table-striped table-hover">
        			<thead>
        				<tr>
                            <th></th>
        					<th>Références</th>
        					<th>Quantité</th>
        					<th>Prix unitaire HT</th>
                            <th>Prix unitaire TTC</th>
                            <th>&nbsp;</th>
        					<th>Total HT</th>
                            <th>Total TTC</th>
        				</tr>
        			</thead>
        			<tbody>
                        {% if produits|length == 0 %}
                            <tr><td colspan="4" style="text-align:center">Aucun article dans votre panier</td></tr>
                        {% endif %}
                        {% set i = 0 %}
                        {% for produit in produits %}

        				<tr>
                            <form action="{{path('ajoutpanier2',{'id': produit.id})  }}" method="get">
                            <td>
                                <img src="{{ produit.image.AssetPath|imagine_filter('imgProduitFormat0')}}" alt="image {{ produit.image.name }}" title="{{produit.image.name}}" width="40px" >
                            </td>
        					<td>{{produit.nom}}</td>

        					<td style="min-width: 120px;">
        						<select name="qte" class="col-sm-8" 
                                onChange="
                                    if($(this).val()>=parseInt($('#apartirde{{i}}').text()))
                                    {$('input#prixr{{i}}').val(parseFloat($('#prixp{{i}}').text())); 
                                    }
                                    else{$('input#prixr{{i}}').val(parseFloat($('#prixn{{i}}').text())); 
                                    };  this.form.submit();" 
                                style="min-width: 70px;" >
                                    {% for ip in 0.. min(10,max(0,produit.stockvirtuel+panier[produit.id]['qte']))  %}
                                    <option value="{{ip}}" {% if ip == panier[produit.id]['qte'] %} selected="selected" {% endif %} >{{ ip }}</option>
                                    {% endfor %}
                                </select>&nbsp;
        						<a href="{{path('supprimer', {'id':produit.id }) }}"><i class="glyphicon glyphicon-trash"></i></a>       						
        					</td>

        					<td>{{produit.prix |number_format(2)}} €</td><td>{{produit.prix|tva(produit.tva.multiplicate)|number_format(2)}} €
                            </td>
                            <td>   
                                {% set prix = produit.prix  %}
                                <div style="visibility:hidden; width:1px; height:1px;line-height: 1px;">{{panier[produit.id]['qte']}}</div><div id="prixn{{i}}" style="visibility:hidden; width:1px; height:1px;line-height: 1px;">{{produit.prix}}</div>
                            {% if produit.promoProd != null %} 
                                {% for promo in produit.promoProd %}
                                    {% if promo.datedeb is defined and promo.datedeb <= now and promo.datefin >= now and promo.nom is defined %}
                                        <div id="apartirde{{i}}" style="visibility:hidden; width:1px; height:1px;line-height: 1px;">{{promo.apartirdeqte}}</div>
                                        
                                       {% if  panier[produit.id]['qte'] >= promo.apartirdeqte %}
                                            <span class="h6">{{promo.nom}} :</span>
                                            {% if promo.remisePourcent > 0 %} 
                                                {% set prix = (produit.prix * (100 - promo.remisepourcent)/100)|number_format(2)  %}
                                                {{ prix|tva(produit.tva.multiplicate) |number_format(2) }}
                                                
                                            {%  else  %}
                                                {% if promoProd.remiseEuro > 0 %} 
                                                  {% set prix = (produit.prix - promo.remiseEuro)|tva(produit.tva.multiplicate)|number_format(2)  %}  
                                                {{ prix|number_format(2) }} € 
                                                {% endif %}

                                            {% endif %}
                                            <span class="h6">€ TTC</span>
                                            <div id="prixp{{i}}" style="visibility:hidden; width:1px; height:1px;line-height: 1px;">{{prix}}</div>
                                        {% else %}
                                            {% set prixp = produit.prix %}
                                           {% if promo.remisePourcent > 0 %} 
                                                {% set prixp = (produit.prix * (100 - promo.remisepourcent)/100)|number_format(2)  %}
                                                
                                            {%  else  %}
                                                {% if promoProd.remiseEuro > 0 %} 
                                                  {% set prixp = (produit.prix - promo.remiseEuro)|tva(produit.tva.multiplicate)|number_format(2)  %}  
                                                {% endif %}
                                            {% endif %}
                                            <div id="prixp{{i}}" style="visibility:hidden; width:1px; height:1px;line-height: 1px;">{{prixp}}</div>
                                        {% endif %}
                                        
                                    {% endif %}
                                {% endfor %}
                                {%  else  %}
                                   
                            {% endif %} 
                             <input id="prixr{{i}}" type="hidden" name="prix" value="{{prix}}" >
                            </td>
        					<td>{{(prix * panier[produit.id]['qte'] )|number_format(2)}} €</td> 

                           

                            <td>{{((prix|tva(produit.tva.multiplicate)) * panier[produit.id]['qte'] )|number_format(2)}} €</td> 
                            </form>      					
        				</tr>
                         {% set totalHT = totalHT + (prix * panier[produit.id]['qte'] ) %}
                         {% set totalTTC = totalTTC + ((prix * panier[produit.id]['qte'])|tva(produit.tva.multiplicate)) %}
                         {% set refTva = refTva|merge({ ('%' ~produit.tva.valeur) : refTva['%' ~produit.tva.valeur] + ( prix * panier[produit.id]['qte']) |montantTva(produit.tva.multiplicate) }) %}
                            {% set i=i+1 %}
                        {% endfor %}
        			</tbody>
        		</table>
            {% if produits|length != 0 %}
            	<dl class="dl-horizontal pull-right">
            		<dt>Total HT :</dt> <dd>{{totalHT|number_format(2)}}€</dd>
                    {% for key, tva in refTva %}
            		  <dt>TVA {{key}} :</dt> <dd>{{ tva |number_format(2)}}€</dd>
                    {% endfor %}
            		<dt>Total TTC :</dt> <dd>{{totalTTC|number_format(2)}}€</dd>
            	</dl>
            {% endif %}
        	<div class="clearfix"></div>
            {% if produits|length != 0 %}
        	<a href="{{path ('adresses')}}" class="btn btn-success pull-right">Valider mon panier</a>
            {% endif %}
        	<a href="{{path ('produits')}}" class="btn btn-primary ">Continuer mes achats</a>
           
        </div>
    </div>
</div>
{% endblock %}