{% extends "::layout/layout.html.twig" %}
{% block titre %} Pascalp Version Développement > Validation de la commande {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-1">
            <button type="button" class="btn btn-default navbar-nontoggle toggle-sidebar">

                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
            </button>
        </div> 
        <div class="col-xs-11">{% render(controller('EcomBundle:Panier:menupanier')) %}
        </div>
    </div>
    <div class="wedge5"> &nbsp; </div>   
    <div class="row" id="row-main">
        <div class="col-md-2 " id="sidebar">  
            {% include '::modulesBase/nav.html.twig' %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% include 'UtilisateursBundle:Default:modulesUsed/utilisateursConnected.html.twig' %}  
            {% else %}
                {% include 'UtilisateursBundle:Default:modulesUsed/utilisateurs.html.twig' %}  
            {% endif %}
        </div> 
        <div class="col-md-12" id="content"> 
            <div class="wedge15;"> &nbsp; </div> 
            <h2>Valider mon panier</h2>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Références</th>
                        <th>Quantité</th>
                        <th>Prix unit. HT</th>
                        <th>Prix unit. TTC</th>
                        <th>Total HT</th>
                        <th>Total TTC</th>
                    </tr>
                </thead>
                
                <tbody>
                {% if commande.commande.produit is not defined %}
                    <tr  ><td colspan="6">Le paiement a été effectué : vous ne pouvez pas revenir en arrière.
                    Pour annuler votre commande et votre règlement, vous devez nous en aviser par envoi d'un e-mail à :
                    contact@prog-d.com
                    </td></tr>
                    
                {% else %}
                    {% for produit in commande.commande.produit %}
                    <tr>
                        <td>{{produit.reference}}</td>
                        <td>
                            {{produit.quantite }}                               
                        </td>
                        <td>{{produit.prixHT |number_format(2)}} €</td>
                        <td>{{produit.prixTTC|number_format(2)}} €</td>
                        <td>{{produit.prixHT * produit.quantite |number_format(2)}} €</td>  
                        <td>{{produit.prixTTC * produit.quantite |number_format(2) }} €</td>                        
                    </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
            {% if commande.commande.produit is not defined %}
                <a href="{{path ('produits')}}" class="btn btn-primary ">Retour boutique</a>
            {% else %}  
                <div class="row" >
                    <div class="col-sm-7" >
                        <div class="row" >
                            <div class="col-md-6" >
                                <dl class="pull-left" >
                                    <dt><h4>Adresse de facturation</h4></dt>
                                    <dt>{{ commande.commande.facturation.prenom}} {{ commande.commande.facturation.nom}}</dt>
                                    <dt>{{ commande.commande.facturation.adresse}} </dt>
                                    <dt>{{ commande.commande.facturation.cp}} {{ commande.commande.facturation.ville}} {% if commande.commande.facturation.pays != "France" %} - {{ commande.commande.facturation.pays}} {% endif %} </dt>
                                </dl>
                            </div> 
                            <div class="col-sm-6" >
                                <dl class="pull-left" >
                                    <dt><h4>Adresse de livraison</h4></dt>
                                    <dt>{{ commande.commande.livraison.prenom}} {{ commande.commande.livraison.nom}}</dt>
                                    <dt>{{ commande.commande.livraison.adresse}} </dt>
                                    <dt>{{ commande.commande.livraison.cp}} {{ commande.commande.livraison.ville}} {% if commande.commande.livraison.pays != "France" %} - {{ commande.commande.livraison.pays}} {% endif %}</dt>
                                </dl>
                            </div> 
                        </div>                      
                    </div>
                    <div class="col-sm-5">
                        <div class="row" >
                            <div class="col-sm-12" >
                                <dl class="dl-horizontal pull-right" >
                                    <dt>Total HT :</dt> <dd>{{commande.commande.totalHT|number_format(2)}}€</dd>
                                    {% for key, tva in commande.commande.tva %}
                                      <dt>TVA {{key}} :</dt> <dd>{{ tva |number_format(2)}}€</dd>
                                    {% endfor %}
                                </dl>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-sm-12">
                                <dl class="dl-horizontal pull-right">
                                    <dt>Frais de port :</dt><dd> {{commande.commande.frPort|number_format(2)}}€</dd>
                                    <dt style="font-size: 13px;" >( {{commande.commande.org}} - {{commande.commande.nom}} )</dt><dd> &nbsp; </dd>
                                    <dt>Total TTC :</dt> <dd>{{commande.commande.totalTTC |number_format(2)}}€</dd>
                                </dl>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row bordure"  >
                    <div class=" col-sm-12">
                        Conditions générales de vente :
                    </div>
                    <div class=" col-sm-1">
                        <center>        
                          <input type="checkbox" id="checkcgv" onClick="cgv()" required />
                        </center>
                    </div> 
                    <div class=" col-sm-11 " >         
                        <label>J'ai lu les conditions générales de vente et j'y adhère sans réserve (<a href="{{path('cgv')}}" target="_blank">Lire les Conditions générales de vente</a>)</label>
                    </div>
                </div>     
                <a   href="{{path('paiement', {'id' : commande.id}) }}" style="color:#fff; font-weight:600;" ><button type="button" class="btn btn-info pull-right" id="valider" disabled>Valider la commande et passer au choix du paiement</button></a>

                <a href="{{path ('frlivraison')}}" class="btn btn-greyish ">Retour choix du mode de livraison</a>
            
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/plugin/jquery/jquery.min.js')}}"></script>    
<script>
$(document).ready(function () { 
 $("#valider").prop("disabled", true);
 $("#checkcgv").prop("checked", false);
});

toggle1=true; toggle=false;
function cgv() {  
    if(toggle1){$("#valider").prop("disabled", false); toggle1=!toggle1;}
    else {$("#valider").prop("disabled", true); toggle1=!toggle1;}
}

$(".toggle-sidebar").click(function () {
    toggle=!toggle;
    if(toggle)
    {    
        $("#sidebar").toggleClass("show", 1000, "swing" );
        $("#content").removeClass("col-md-12").addClass("col-md-10"); 
    } 
    else
    {          
        $("#sidebar").toggleClass("show", 1000, "swing");
        $("#content").removeClass("col-md-10").addClass("col-md-12");
    }      
    return false;
  });
</script>
{% endblock %}