{% extends "::layout/layoutAdmin.html.twig" %}

{% block body -%}
    <h1>PromoCmdes list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Datedeb</th>
                <th>Datefin</th>
                <th>Remisepourcent</th>
                <th>Remiseeuro</th>
                <th>Frlivrgratuit</th>
                <th>Apartirdemontant</th>
                <th>Codepromo</th>
                <th>Affichepub</th>
                <th>Articlepub</th>
                <th>Imagepub</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('adminPromoCmdes_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>{% if entity.datedeb %}{{ entity.datedeb|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.datefin %}{{ entity.datefin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.remisePourcent }}</td>
                <td>{{ entity.remiseEuro }}</td>
                <td>{{ entity.frlivrgratuit }}</td>
                <td>{{ entity.apartirdemontant }}</td>
                <td>{{ entity.codepromo }}</td>
                <td>{{ entity.affichePub }}</td>
                <td>{{ entity.articlePub }}</td>
                <td>{{ entity.imagePub }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('adminPromoCmdes_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('adminPromoCmdes_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('adminPromoCmdes_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
