{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %}

    <h1>Liste des commandes {{archive}}</h1>

    <table class="table table-store records_list">
        <thead>
            <tr style="font-size:0.9em">
                <th>Id</th>
                <th>Date</th>
                <th>Référence</th>  
                <th style="text-align:left; padding-left:20px;">Client</th> 
                <th style="text-align:left; padding-left:10px;">Validé</th> 
                <th style="text-align:left; padding-left:10px;">Payé</th> 
                <th>Préparé</th>
                <th>Livré</th>
                <th >Voir BL</th>
                <th >Voir Fact</th>
                <th>Archiver</th>
                <th>Annuler</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr style="font-size:0.8em">
                <td><a href="{{ path('adminCommandes_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>

                <td>{% if entity.date %}{{ entity.date|date('d/m H')~'h'~entity.date|date('i') }}{% endif %}</td>

                <td>{{ entity.reference }}</td>

                <td style="text-align:left">{{ entity.utilisateur.username }} 
                    {% if entity.commande.facturation.nom is defined %}({% endif %}
                    {% if entity.commande.facturation.prenom is defined %} {{ entity.commande.facturation.prenom }}{% endif %}
                    {{ entity.commande.facturation.nom }}
                    {% if entity.commande.facturation.nom is defined %} ){% endif %}</td>

                <td {% if entity.valider != 1 %} style="color:red;" {% endif %}><div style="width:20px;border:1px solid #99a;border-radius:4px;margin-left:14px; background:#ccc;">{% if entity.valider != 1 %} 0 {% else %}{{ entity.valider }}{% endif %}</div></td>

            <form action="{{path('adminCommandes_modif', {'id': entity.id })  }}" method="post">
                <td style="text-align:left; ">{% if entity.valider == 1 %}
                        {% if entity.payer == 0 %} 
                            <input type="checkbox"  name="paye[{{entity.id}}]" value="false" id="paye{{entity.id}}" class="form-store"  onClick="$(this).attr({'value':'true','checked':'checked'});this.form.submit();" >
                            <label for="paye{{entity.id}}" style="font-size:0.8em">&nbsp; attente
                            {% if entity.modpmt == 3 %}(virt){% endif %}
                            {% if entity.modpmt == 4 %}(chq){% endif %}</label>
                        {% else %} 
                            <input type="checkbox" name="paye[{{entity.id}}]" value="true" checked disabled id="paye{{entity.id}}" class="form-store">
                            <label for="paye{{entity.id}}" style="font-size:0.8em" >&nbsp; payé
                            {% if entity.modpmt == 1 %}(CB){% endif %}
                            {% if entity.modpmt == 2 %}(Payp){% endif %}</label>
                        {% endif %}
                    {% else %}&nbsp;&nbsp;&nbsp; -  
                    {% endif %}
                </td>

                <td>{% if entity.valider == 1 %}
                        {% if entity.preparer == 0 %}
                        <input type="checkbox"  name="prepare[{{entity.id}}]" value="false" id="prepare{{entity.id}}" {% if entity.payer == 0 %} disabled {% else %} onClick="$(this).attr({'value':'true','checked':'checked'});this.form.submit();" {% endif %}class="form-store"  >
                        <label for="prepare{{entity.id}}"  style="font-size:0.8em">&nbsp; préparer</label>
                        {% else %}  
                        <input type="checkbox"  name="prepare[{{entity.id}}]" value="true" checked disabled id="prepare{{entity.id}}" class="form-store"  >
                        <label for="prepare{{entity.id}}"  style="font-size:0.8em">&nbsp; préparé</label>
                        {% endif %}
                    {% else %}&nbsp;&nbsp;&nbsp; -  
                    {% endif %}
                </td>

                <td>{% if entity.valider == 1 %}  
                        {% if entity.livrer == 0 %}
                         <input type="checkbox"  name="livre[{{entity.id}}]" value="false" id="livre{{entity.id}}" {% if entity.preparer == 0 %}disabled {% else %} onClick="$(this).attr({'value':'true','checked':'checked'});this.form.submit();" {% endif %} class="form-store" >
                         <label for="livre{{entity.id}}" style="font-size:0.8em">&nbsp; livrer </label> 
                        {% else %} 
                         <input type="checkbox"  name="livre[{{entity.id}}]" value="true" checked disabled id="livre{{entity.id}}"  class="form-store" >
                         <label for="livre{{entity.id}}" style="font-size:0.8em">&nbsp; livré </label> 
                        {% endif %}                 
                    {% else %}&nbsp;&nbsp;&nbsp; -  
                    {% endif %}
                </td>

                <td>{% if entity.valider == 1 %}
                    <a href="{{ path('adminShowBL', { 'id': entity.id }) }}" target="_blank" ><i class="glyphicon glyphicon-eye-open">BL</i></a> 
                    {% else %}&nbsp;&nbsp;&nbsp; -  
                    {% endif %}
                </td>

                <td>{% if entity.valider == 1 %}
                 <a href="{{ path('adminShowFacture', { 'id': entity.id }) }}" target="_blank" ><i class="glyphicon glyphicon-eye-open">Fact</i></a> 
                    {% else %}&nbsp;&nbsp;&nbsp; -  
                    {% endif %}
                </td>

                <td>{% if ( entity.valider == 0 or entity.livrer == 1 ) and entity.archiver == 0 %}
                    <input type="checkbox"  name="archive[{{entity.id}}]" value="false" id="archive{{entity.id}}" class="form-store" onClick="$(this).attr({'value':'true','checked':'checked'});this.form.submit();" >
                    <label for="archive{{entity.id}}"  style="font-size:0.8em">&nbsp; archiver  </label>
                    {% else %}
                       {% if ( entity.valider == 1 and entity.livrer == 0 ) and entity.archiver == 0 %} 
                        <input type="checkbox"  name="archive[{{entity.id}}]" value="0" disabled id="archive{{entity.id}}" class="form-store" >
                        <label for="archive{{entity.id}}"  style="font-size:0.8em">&nbsp; archiver </label>
                        {% else %}
                        <input type="checkbox"  name="archive[{{entity.id}}]" value="0" checked disabled id="archive{{entity.id}}" class="form-store" >
                        <label for="archive{{entity.id}}"  style="font-size:0.8em">&nbsp; archivé </label>
                        {% endif %} 
                     {% endif %}                
                </td>
                <td>
                    <button type="checkbox"  name="suppr[{{entity.id}}]" value="false" id="suppr{{entity.id}}" onClick="this.form.submit();" class="form-store" style="font-size:0.8em; background:transparent;">
                    <label for="suppr{{entity.id}}"  >&nbsp; <span class="glyphicon glyphicon-trash"></span>  </button>              
                </td>
            </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <br/>
    <h2>Nombre de visites :</h2><br/>
        <div class=" col-sm-8">
            {% render(controller('AdBundle:CommandesAdmin:nbreVisites')) %}
        </div>
    </div>
    {% endblock %}
    {% block javascript3s %}
        <script src="{{ asset('js/plugin/jquery/jquery.min.js')}}"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.js')}}"></script>
        <script src="{{ asset('bundles/pages/ckeditor/ckeditor.js')}}"></script>

    {% endblock %}
