{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
    <h1>Fournisseur {{ entity.nom }}</h1>

    <table class="record_properties table-store">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ entity.adresse }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ entity.cp }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ entity.ville }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ entity.pays }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ entity.telephone }}</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>{{ entity.fax }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Commercial</th>
                <td>{{ entity.commercial }}</td>
            </tr>
            <tr>
                <th>Tel_commerc</th>
                <td>{{ entity.telcommerc }}</td>
            </tr>
        </tbody>
    </table>
    <br/><br/>
    <div class="row" >
        <div class="col-sm-4">
            <a href="{{ path('adminFournisseurs') }}">
                <button type="button" class="btn btn-info">Retour à la liste</button>           
            </a>
        </div>
        <div class="col-sm-4">        
            <a href="{{ path('adminFournisseurs_edit', { 'id': entity.id }) }}">
                <button type="button" class="btn btn-greyish"> Modifier la catégorie </button> 
            </a>
        </div>
        <div class="col-sm-4">  
                {{ form(delete_form) }}  

        </div>
    </div>

{% endblock %}
